body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin-bottom: 5px;
}

.header {
  background: #eee;
  margin-bottom: 70px;
  padding: 70px 0;
}

.card {
  background: #f86b03;
  margin-bottom: 30px;
  min-height: 165px;
  padding: 20px;
  width: 100%;
}

.card__photo {
  border-radius: 50%;
  height: 110px;
  display: block;
}

.card__info {
  font-size: 12px;
}

 .card__info-item {
   white-space: nowrap;
 }

@media (max-width: 767px) {
  .container {
    width: 320px;
  }
  .card__photo {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .card {
    display: table;
  }
  .card > * {
    display: table-cell;
    vertical-align: middle;
  }

  .card__info {
    padding-left: 20px;
  }

  .card__photo-box {
    width: 110px;
  }
}
